<%- include('partials/header') %>

<body>
    <button onclick="logoutReq()" class="btn btn-outline-danger">Logout</button>
    <h5>Logged in as <span class="badge badge-secondary"><%= logged_user%></span></h5>
    <blockquote class="blockquote text-center">
        <p class="mb-0 display-3"><%= userData.username%></p>
    </blockquote>
    <div class="container">
        <div class="row">
            <label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;">
                User-type
            </label>
            <div class="col-6">
                <div><%=userData.role %></div>
            </div>
        </div>

        <div class="row">
            <label class="col-6 text-align-right" style="font-size: 1.5em;font-weight: bolder;">
                Creation time
            </label>
            <div class="col-6">
                <div><%=userData.creation_stamp %></div>
            </div>
        </div>
        <% if(signUrl){ %>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3 text-align-right">
                    <a href=<%= signUrl %>>
                        <button class="btn btn-outline-dark">Create new User </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3 text-align-right">
                    <a href=<%= updateUser %>>
                        <button class="btn btn-outline-dark">Update a user </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3 text-align-right">
                    <a href=<%= deleteUser %>>
                        <button class="btn btn-outline-dark">Delete a user </button>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3 text-align-right">
                    <a href=<%= logsUrl %>>
                        <button class="btn btn-outline-dark">View logs </button>
                    </a>
                </div>
            </div>
            
        <%}%>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-3 text-align-right">
                    <a href=<%= updateNoAdmin %>>
                        <button class="btn btn-outline-dark">Change password </button>
                    </a>
                </div>
            </div>
    </div>
</body>

<%- include('partials/footer') %>